---
Checks: '-*,
         bugprone-copy-constructor-init,
         bugprone-forward-declaration-namespace,
         bugprone-inaccurate-erase,
         bugprone-move-forwarding-reference,
         bugprone-parent-virtual-call,
         bugprone-reserved-identifier,
         bugprone-suspicious-memset-usage,
         bugprone-suspicious-semicolon,
         bugprone-undefined-memory-manipulation,
         bugprone-use-after-move,
         cppcoreguidelines-macro-usage,
         cppcoreguidelines-missing-std-forward,
         cppcoreguidelines-pro-type-cstyle-cast,
         cppcoreguidelines-slicing,
         cppcoreguidelines-virtual-class-destructor,
         llvm-namespace-comment,
         misc-*,
         -misc-const-correctness,
         -misc-no-recursion,
         -misc-unused-parameters,
         -misc-use-anonymous-namespace,
         -misc-non-private-member-variables-in-classes,
         modernize-*,
         -modernize-avoid-c-arrays,
         -modernize-use-trailing-return-type,
         performance-*,
         readability-*,
         -readability-avoid-unconditional-preprocessor-if,
         -readability-function-cognitive-complexity,
         -readability-function-size,
         -readability-identifier-length,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-static-accessed-through-instance,
         -readability-uppercase-literal-suffix'
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.GlobalConstantCase
    value: aNy_CasE
